* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Oswald", sans-serif;
}

.container {
  margin: auto 110px;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.btn-red, .modal .modal_content .btn-modal {
  height: 40px;
  padding: 6px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 6px;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-red:hover, .modal .modal_content .btn-modal:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

.btn-qty {
  height: 25px;
  width: 25px;
  padding: 4px 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 50%;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-qty:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

.btn-pink {
  height: 30px;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 6px;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-pink:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

.display_flex_between_center, footer .footer_content .info_right, footer .footer_content, header .header_content .header_navbar, header .header_content .header_left, header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #ab4747;
}
header .header_content {
  padding: 30px 0;
}
header .header_content .header_left {
  width: 30%;
}
header .header_content .header_left .header_logo {
  font-size: 32px;
  font-weight: 400;
  color: #fffefd;
}
header .header_content .header_navbar {
  width: 30%;
}
header .header_content .header_item {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fffefd;
  transition: all 0.3s;
}
header .header_content .header_item:hover {
  transform: scale(1.2, 1.2);
}

footer {
  background-color: #ab4747;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
footer .footer_content .info_left {
  width: 20%;
  color: #f6e3ea;
}
footer .footer_content h6 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #fffefd;
}
footer .footer_content p {
  font-size: 16px;
}
footer .footer_content a {
  font-size: 16px;
  margin-bottom: 16px;
  color: #f6e3ea;
}
footer .footer_content .info_right {
  width: 60%;
}
footer .footer_content .info_right .fa-solid {
  padding-bottom: 10px;
}

.product-list {
  padding: 50px 0;
}
.product-list #btn-model-product {
  padding: 10px 20px;
}
.product-list table {
  background: transparent;
  border: 1px solid #dee2e6;
}
.product-list table tr {
  display: table-row;
}
.product-list table td {
  display: table-cell;
  text-align: center;
}
.product-list form {
  position: relative;
}
.product-list form input {
  position: absolute;
  width: 300px;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgba(22, 28, 45, 0.7);
  font-weight: 400;
  border-radius: 6px;
  right: 0;
  background-color: white;
  border: 1px solid rgba(22, 28, 45, 0.7);
}
.product-list form span {
  color: #404040;
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.modal .modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #efeced;
  width: 800px;
  z-index: 2;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px #111;
  display: block;
}
.modal .modal_content .modal_title {
  font-size: 20px;
}
.modal .modal_content #modal-close {
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.modal .modal_content .form-group {
  margin-bottom: 20px;
  font-size: 16px;
}
.modal .modal_content .form-group .form-control {
  display: block;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 4px;
}
.modal .modal_content .form-group .description {
  width: 19%;
}
.modal .modal_content .btn-modal {
  padding: 6px 12px;
  float: right;
  margin: 10px;
}

.banner {
  background: linear-gradient(to right, #ef8bb0, #f6e3ea, #ef8bb0);
  height: 100vh;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner_content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.banner .banner_content .banner_item {
  position: relative;
  flex-shrink: 0;
  height: 300px;
  width: 200px;
  overflow: hidden;
  background-color: #010101;
  border-radius: 20px;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  transition: 0.5s;
}
.banner .banner_content .banner_item:hover {
  height: 540px;
  width: 260px;
  box-shadow: 0 5px 15px rgb(0, 0, 1);
}
.banner .banner_content .banner_item:hover .item_bottom {
  bottom: 0;
  height: 280px;
}
.banner .banner_content .banner_item:hover .item_bottom .product_details {
  display: block;
}
.banner .banner_content .banner_item:hover .item_bottom .purchase {
  display: block;
  margin: 5px auto;
}
.banner .banner_content .banner_item .item_header {
  transform: translateY(0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: #f6e3ea;
}
.banner .banner_content .banner_item .item_body {
  position: absolute;
  height: 185px;
  width: 185px;
  margin: 0 auto;
  top: 60px;
  left: 0;
  right: 0;
  font-size: 20px;
}
.banner .banner_content .banner_item img {
  border-radius: 8px;
}
.banner .banner_content .banner_item .item_bottom {
  position: absolute;
  height: 240px;
  width: 100%;
  background-color: #2e2f33;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.25s;
  bottom: -200px;
  transition: 0.25s;
}
.banner .banner_content .banner_item .item_bottom .product-name {
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 4px;
}
.banner .banner_content .banner_item .item_bottom .product-details {
  transform: translateY(10px);
  font-family: "Montserrat", sans-serif;
}
.banner .banner_content .banner_item .item_bottom .product-details p {
  font-size: 0.9rem;
  padding: 5px 0;
  color: #f6e3ea;
}
.banner .banner_content .banner_item .item_bottom .purchase {
  display: none;
  padding: 10px 0;
}
.banner .banner_content .banner_item .item_bottom .purchase div {
  color: #fffefd;
  margin: 5px auto;
  font-size: 18px;
}
.banner .banner_content .banner_item .item_bottom .purchase input {
  height: 30px;
  width: 40%;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid;
}
.banner .banner_content .banner_item .item_bottom .purchase .btn-add {
  position: absolute;
  right: 20px;
}

.cart-content {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 100%;
  color: #fff;
  margin: 5px 10px 0 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 800px;
  z-index: 2;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px #111;
  display: block;
}
.cart-content .cart-title {
  font-size: 20px;
}
.cart-content .cart-body {
  height: 100%;
}
.cart-content .cart-body .quantity-annouce {
  color: #bceea3;
}
.cart-content .cart-body thead th {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
}
.cart-content .cart-body .purchase {
  position: absolute;
  bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
  text-align: left;
}
.cart-content .cart-body .purchase .btn {
  height: 35px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.cart-content #cart-close {
  color: #fff;
  font-size: 25px;
  background-color: transparent;
  border: none;
}

.cover-page {
  background-color: #ab4747;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cover-page .container {
  width: 60%;
  margin: 0 auto;
}
.cover-page .container h1 {
  font-size: 60px;
  color: #f6e3ea;
  margin-bottom: 100px;
}
.cover-page .container .cover-content .cover-item img {
  width: 300px;
  height: 300px;
}
.cover-page .container .cover-content .cover-item p {
  text-decoration: none;
  color: #f6e3ea;
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */