.col-1 {
  width: 8.3333333333%;
}

.col-sm-1 {
  width: 8.3333333333%;
}

.col-md-1 {
  width: 8.3333333333%;
}

.col-lg-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-sm-2 {
  width: 16.6666666667%;
}

.col-md-2 {
  width: 16.6666666667%;
}

.col-lg-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-sm-3 {
  width: 25%;
}

.col-md-3 {
  width: 25%;
}

.col-lg-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-sm-4 {
  width: 33.3333333333%;
}

.col-md-4 {
  width: 33.3333333333%;
}

.col-lg-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-sm-5 {
  width: 41.6666666667%;
}

.col-md-5 {
  width: 41.6666666667%;
}

.col-lg-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-sm-6 {
  width: 50%;
}

.col-md-6 {
  width: 50%;
}

.col-lg-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-sm-7 {
  width: 58.3333333333%;
}

.col-md-7 {
  width: 58.3333333333%;
}

.col-lg-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-sm-8 {
  width: 66.6666666667%;
}

.col-md-8 {
  width: 66.6666666667%;
}

.col-lg-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-sm-9 {
  width: 75%;
}

.col-md-9 {
  width: 75%;
}

.col-lg-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-sm-10 {
  width: 83.3333333333%;
}

.col-md-10 {
  width: 83.3333333333%;
}

.col-lg-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-sm-11 {
  width: 91.6666666667%;
}

.col-md-11 {
  width: 91.6666666667%;
}

.col-lg-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

.col-md-12 {
  width: 100%;
}

.col-lg-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-bottom {
  align-items: bottom;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.gap-key {
  gap: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.gap-key {
  gap: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.gap-key {
  gap: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.gap-key {
  gap: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.gap-key {
  gap: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.gap-key {
  gap: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.gap-key {
  gap: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.gap-key {
  gap: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
}

.btn-red, .modal .modal_content .btn-modal {
  height: 40px;
  padding: 6px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 6px;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-red:hover, .modal .modal_content .btn-modal:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

.btn-qty {
  height: 25px;
  width: 25px;
  padding: 4px 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 50%;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-qty:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

.btn-pink {
  height: 30px;
  padding: 4px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fffefd;
  border-radius: 6px;
  background-color: #ab4747;
  border: 1px solid;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-pink:hover {
  background-color: #f6e3ea;
  color: #ab4747;
}

header {
  background-color: #ab4747;
  width: 100%;
  overflow: hidden;
}
header .header_content {
  padding: 10px 0;
}
@media (min-width: 768px) {
  header .header_content {
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  header .header_content {
    padding: 30px 0;
  }
}
@media (min-width: 992px) {
  header .header_content .header_left {
    width: 40%;
  }
}
header .header_content .header_left .header_logo {
  font-size: 32px;
  font-weight: 400;
  color: #fffefd;
}
header .header_content .header_item {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fffefd;
  transition: all 0.3s;
}
header .header_content .header_item:hover {
  transform: scale(1.2, 1.2);
}

#count-quantity {
  color: rgb(34, 240, 51);
  font-weight: 400;
}

footer {
  width: 100%;
  background-color: #ab4747;
  padding: 20px;
}
footer .footer_content {
  color: #f6e3ea;
}
footer .footer_content h6 {
  color: #fffefd;
  margin-bottom: 12px;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer_content h6 {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  footer .footer_content h6 {
    margin-bottom: 18px;
    font-size: 20px;
  }
}
footer .footer_content p {
  font-size: 10px;
}
@media (min-width: 768px) {
  footer .footer_content p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  footer .footer_content p {
    font-size: 16px;
  }
}
footer .footer_content a {
  margin-bottom: 10px;
  color: #f6e3ea;
  font-size: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer_content a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  footer .footer_content a {
    font-size: 16px;
  }
}
footer .footer_content .info_right a.fa-solid {
  padding-bottom: 10px;
  text-align: left;
}

.product-list {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .product-list {
    padding: 30px 0;
  }
}
@media (min-width: 992px) {
  .product-list {
    padding: 50px 0;
  }
}
.product-list .PDList-header {
  position: relative;
}
.product-list .PDList-header .searchbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.product-list .PDList-header .searchbar form {
  position: relative;
  height: 40px;
}
.product-list .PDList-header .searchbar form input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px 30px 5px 10px;
  height: 40px;
  font-size: 12px;
  color: rgba(22, 28, 45, 0.7);
  font-weight: 400;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgba(22, 28, 45, 0.7);
}
@media (min-width: 768px) {
  .product-list .PDList-header .searchbar form input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 400;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgba(22, 28, 45, 0.7);
  }
}
.product-list .PDList-header .searchbar form .search-icon {
  color: #404040;
  position: absolute;
  right: 0;
  right: 20px;
  font-size: 15px;
  top: 15px;
}
.product-list table {
  width: 100%;
  font-size: 14px;
  background: transparent;
  border: 1px solid #dee2e6;
}
.product-list table tr {
  display: table-row;
}
.product-list table td {
  display: table-cell;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.modal .modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #efeced;
  width: 80%;
  z-index: 2;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #111;
  display: block;
}
@media (min-width: 768px) {
  .modal .modal_content {
    padding: 40px;
  }
}
.modal .modal_content .modal_title {
  font-size: 20px;
}
.modal .modal_content #modal-close {
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.modal .modal_content .form-group {
  margin-bottom: 20px;
  font-size: 16px;
}
.modal .modal_content .form-group .form-control {
  display: block;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 4px;
}
.modal .modal_content .form-group .description {
  width: 19%;
}
.modal .modal_content .btn-modal {
  padding: 6px 12px;
  float: right;
  margin: 10px;
}

.banner .banner_content {
  gap: 20px;
}
.banner .banner_content .banner_item {
  position: relative;
  overflow: hidden;
  background-color: #010101;
  border-radius: 20px;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  transition: 0.5s;
  height: 300px;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 300px;
  width: 20%;
}
.banner .banner_content .banner_item:hover {
  box-shadow: 0 5px 15px rgb(0, 0, 1);
  height: 540px;
  width: 260px;
  margin-bottom: 0px;
}
.banner .banner_content .banner_item:hover .item_bottom {
  bottom: 0;
  height: 280px;
}
.banner .banner_content .banner_item:hover .item_bottom .product_details {
  display: block;
}
.banner .banner_content .banner_item:hover .item_bottom .purchase {
  display: block;
  margin: 5px auto;
}
.banner .banner_content .banner_item .item_header {
  transform: translateY(0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: #f6e3ea;
}
.banner .banner_content .banner_item .item_body {
  position: absolute;
  height: 185px;
  width: 185px;
  margin: 0 auto;
  top: 60px;
  left: 0;
  right: 0;
  font-size: 20px;
}
.banner .banner_content .banner_item img {
  border-radius: 8px;
  width: 100px;
  height: 120px;
}
.banner .banner_content .banner_item .item_bottom {
  position: absolute;
  height: 240px;
  width: 100%;
  background-color: #2e2f33;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.25s;
  bottom: -200px;
  transition: 0.25s;
}
.banner .banner_content .banner_item .item_bottom .product-name {
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 4px;
}
.banner .banner_content .banner_item .item_bottom .product-details {
  transform: translateY(10px);
  font-family: "Montserrat", sans-serif;
}
.banner .banner_content .banner_item .item_bottom .product-details p {
  font-size: 0.9rem;
  padding: 5px 0;
  color: #f6e3ea;
}
.banner .banner_content .banner_item .item_bottom .purchase {
  display: none;
  padding: 10px 0;
}
.banner .banner_content .banner_item .item_bottom .purchase div {
  color: #fffefd;
  margin: 5px auto;
  font-size: 18px;
}
.banner .banner_content .banner_item .item_bottom .purchase input {
  height: 30px;
  width: 40%;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid;
}
.banner .banner_content .banner_item .item_bottom .purchase .btn-add {
  position: absolute;
  right: 20px;
}

.cart-content {
  position: fixed;
  top: 5px;
  right: 10px;
  bottom: 10px;
  color: #fff;
  margin: 5px 10px 10px 0;
  background-color: black;
  width: 50vw;
  z-index: 2;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px #111;
}
.cart-content .cart-title {
  font-size: 20px;
}
.cart-content .cart-body {
  height: 100%;
}
.cart-content .cart-body .quantity-annouce {
  color: #bceea3;
}
.cart-content .cart-body thead th {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
}
.cart-content .cart-body .purchase {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #f6e3ea;
  text-align: left;
}
.cart-content .cart-body .purchase .btn {
  height: 35px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.cart-content #cart-close {
  color: #fff;
  font-size: 25px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.cover-page {
  background-color: #ab4747;
  text-align: center;
}
.cover-page .container {
  margin: 0 auto;
  padding-top: 80px;
}
.cover-page .container h1 {
  font-size: 50px;
  color: #f6e3ea;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .cover-page .container h1 {
    font-size: 60px;
  }
}
.cover-page .container .cover-content {
  width: 50%;
  margin: 0 auto;
}
.cover-page .container .cover-content .cover-item img {
  width: 100px;
  height: 100px;
}
.cover-page .container .cover-content .cover-item p {
  font-size: 20px;
}
@media (min-width: 768px) {
  .cover-page .container .cover-content .cover-item img {
    width: 150px;
    height: 150px;
  }
  .cover-page .container .cover-content .cover-item p {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .cover-page .container .cover-content .cover-item img {
    width: 200px;
    height: 200px;
  }
  .cover-page .container .cover-content .cover-item p {
    font-size: 40px;
  }
}
.cover-page .container .cover-content p {
  text-decoration: none;
  color: #f6e3ea;
}/*# sourceMappingURL=main.css.map */