* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Oswald", sans-serif;
}

.container {
  width: 100%;
  //   margin: auto 100px;
  padding: 0 100px;
}

a {
  text-decoration: none;
}
