.cover-page {
  background-color: #ab4747;
  height: 100vh;
  text-align: center;
  gap: 0px;

  .container {
    margin: 0 auto;
    padding-top: 80px;
    h1 {
      font-size: 50px;
      color: $color-pink-01;
      margin-bottom: 50px;
    }
    .cover-content {
      //dimention for mobile
      gap: 35px;
      .cover-item {
        img {
          width: 100px;
          height: 100px;
        }
        p {
          font-size: 20px;
        }
      }
      @include responsive("medium") {
        .cover-item {
          img {
            width: 300px;
            height: 300px;
          }
          p {
            font-size: 30px;
          }
        }
      }

      p {
        text-decoration: none;
        color: $color-pink-01;
      }
    }
  }
}
