.cover-page {
  background-color: #ab4747;
  text-align: center;

  .container {
    margin: 0 auto;
    padding-top: 80px;
    h1 {
      font-size: 50px;
      color: $color-pink-01;
      margin-bottom: 50px;
      @include responsive("large") {
        font-size: 60px;
      }
    }
    .cover-content {
      width: 50%;
      margin: 0 auto;
      .cover-item {
        img {
          width: 100px;
          height: 100px;
        }
        p {
          font-size: 20px;
        }
      }
      @include responsive("medium") {
        .cover-item {
          img {
            width: 150px;
            height: 150px;
          }
          p {
            font-size: 30px;
          }
        }
      }
      @include responsive("large") {
        .cover-item {
          img {
            width: 200px;
            height: 200px;
          }
          p {
            font-size: 40px;
          }
        }
      }

      p {
        text-decoration: none;
        color: $color-pink-01;
      }
    }
  }
}
